# -------------------------------------------------------
# ENV_STATE : "development" | "staging" | "production"
# -------------------------------------------------------
ENV_STATE=development

# Django
SECRET_KEY=                   # générer avec : python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DEBUG=True                    # True en development uniquement, False en staging et production
ADMIN_URL=admin/              # changer en production/staging (ex: my-secret-admin-path/)

# PostgreSQL
DATABASE_URL=                 # ex: postgres://user:password@localhost:5432/pause_empathique
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
