{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<main class="w-min-screen p-3 flex flex-col items-center">
    <form method="POST" class="flex flex-col mt-15 space-y-2 mb-15 p-5 gap-3 bg-white border border-white rounded-4xl shadow-sm w-3/4 md:p-10 md:w-2/3 2xl:max-w-4xl 2xl:mt-30">
        <h1 class="form-title self-center">Modifier mon profil</h1>
        {% csrf_token %}
        {% include 'partials/non_field_errors.html' %}
 
        <label for="{{ form.firstname.id_for_label }}" class="text-gray-900 font-semibold md:text-lg">{{ form.firstname.label }}</label>
        {{ form.firstname | add_class:"italic mb-4"}}
        {% include 'partials/field_errors.html' with field=form.firstname %}
    

        <label for="{{ form.email.id_for_label }}" class="text-gray-900 font-semibold md:text-lg">{{ form.email.label }}</label>
        {{ form.email | add_class:"italic mb-4"}}
        {% include 'partials/field_errors.html' with field=form.email %}
    

        <label for="{{ form.gender.id_for_label }}" class="text-gray-900 font-semibold mb-4 md:text-lg">{{ form.gender.label }}</label>
        {{ form.gender }}
        {% include 'partials/field_errors.html' with field=form.gender %}

        <input type="submit" class="bg-background-button self-center text-center text-black py-3 px-6 rounded-md mt-6 w-40 cursor-pointer hover:scale-105 hover:shadow-md md:mt-5 md:font-semibold" value="Valider">
    </form>
</main>
{% endblock content %}